*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #E9EFEF;
    padding: 0;
}
.cover{
    margin-top: -20px;
}
.top_header{
    
}
.top_header h1{
    font-family: Calibri;
    color: #146C94;
    text-align: center;
    font-weight: 300;
}
.sign_up p, .sign_up a{
    font-size: 16px;
    font-family: Calibri;
    font-weight: 300;
    margin-top: -10px;
    text-align: center;
}
.forgot_pass{
    font-size: 16px;
    font-family: Calibri;
    font-weight: 300;
    text-decoration: none;
    color: #146C94;
    text-align: center;
}
.login_t{
    margin-top: 30px;
		font-family: Calibri;
		text-align: center;
		font-size: 30px;
		font-weight: 700;
}
.main_con{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 92%;
    height: 400px;
    border-radius: 10px;
    background: white;
}
.form_con{
    width: 90%;
}
.bn{
    color: #146C94;
}
.inputs{
    width: 100%;
    height: 50px;
    text-indent: 15px;
    outline: 0.1px solid #eff2f6;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;		
}
.inputs::placeholder{
    font-size: 14px;
    text-indent: 15px;
    font-weight: 300;
}
.sub_btn{
    background: #146C94;
		color: white;
		border: none;			
		width: 100%;
		font-weight: 300;
		height: 50px;
		font-size: 18px;
	  margin-top: 10px;
		border-radius: 2px;
}
.sfnt{
    width: 100%;
    box-sizing: border-box;
}
.check,.s{
   
}
.s{
    margin-top: 3px;
    font-weight: bold;
}
.tandc{
    text-align: center;
    font-family: Calibri;
    font-weight: 300;
    font-size: 12px;
}
.error1{
    font-family: Calibri;
    font-weight: 300;
    font-size: 12px;
}
.login{
    text-align: center;
    color: #146C94;
    text-decoration: none;
    font-family: Calibri;
    font-size: 13px;
}
.cover img{
    width: 100%;
}
.main_main{
    justify-content: center;
    align-items: center;

    margin-top: -50px;
    display: flex;
}
.passchecker{
    float: right;position: relative;
    z-index: 2;
    margin-right: 1px;
    margin-top: -49px;
    width: 50px;
    height: 48px;
    background: #eff2f6;
}
.passchecker img{
    width: 20px;
    margin: 15px;
}
