.new_password{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.text{
    margin-left: 5%;
    font-family: Calibri;
    font-size: 15px;
    margin-top: 20px;
}
.input_bar{
    width: 90%;
    margin-top: -15px;
    border: none;
    border: 1px solid grey;
    height: 30px;
}
