<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/main.css"></link>
    <script src="static/main.js"></script>
  </head>
  <body>
    <h1>{{ heading }}</h1>

    {% block content %}

<div class="top_bar">
<div class="container">
				
<div class="create_btn_logo">
				<img src="static/logo.png" alt="logo"></img>
				<button onclick="open_close_post_bar()">Create Post +</button>
</div>

</div>
</div>

<div class="create_post_box">
		
	 <div class="create_post_box_content" id="open_bar">
	 				
	 	<div class="content">
	
	 	<div class="create_post">
						<h1>Create post</h1>
		
		</div>
		
		
		<div class="close">
						<button onclick="close_bar()">X</button>
		</div>
	
	 				
    <form action="/main" method="POST">
  				<p>Title:</p>
 				 <textarea type="text" id="title" name="title" class="title"></textarea><br>
				
				<p>Content:</p>
				<textarea type="text" id="content" name="content" class="article"></textarea><br>
				
  				<p>Author:</p>
  				<textarea id="author" name="author" class="author"></textarea><br>
				
				<div class="add_attatchment">
								<img src="static/Attachment icon.png" alt="" id="img">
								</img><br>
				<input type="file" accept="jpg,png,svg,jpeg" id="file" onchange="file_f()" class="file_c">				
				</div>
				
				<input type="text" id="send_img" name="img" class="send_img">
				
				<div class="post_btn">
						<input type="submit" value="Post">
		</div>
				</form>
</div>
</div>
</div>

<div class="et_body">
    {% for row in data %}
<div class="post_container">

<div class="post_content">
<div class="main_cont">
					
	<h3 class="post_opt">...</h3>
	<p>Posted: {{ row.date_time }} </p>
	
  <h1>{{ row.title }}</h1>
  <p>{{ row.article }}</p>
  <img src="{{ row.img_path|safe }}"></img>
  <p>Author: {{ row.author }}</p>

</div>
</div>
</div>
				{% endfor %}
</div>

    {% endblock %}
  </body>
</html>
