<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='signup.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static',filename='forgotPassword.css')}}">
</head>
<body>
          
       <form method="POST" action="{{url_for('forgot_password')}}">           
       <div class="forgotPasswordm">
        <div class="forgotPassword">
            <p class="create_h1">Forgot password</p>
            
            <input type="text" name="email" class="email" placeholder="Enter your email address">
        <p class="msg">{{msg}}</p>
        
        <input type="submit" value="Submit" class="submit">
        
    </div>
    </div>
   </form>
    
</body>
</html>
