<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Log in</title>
				<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}"></link>
				
				<script src="{{url_for('static',filename='login.js')}}"></script>
<body>
   
   <div class="top_header">
       <h1>Welcome back</h1>
   </div>
   
   <div class="cover"> 
       <img src="{{url_for('static', filename='cover.jpg')}}" alt=""></img>
   </div>
   
   <div class="main_main">
    <div class="main_con">
        <div class="form_con">
				<form action="{{url_for('log_in')}}" method="POST">
								<h1 class="login_t">Log in</h1>
								
								<div class="sign_up">
								<p>New user? <a href="http://localhost:5000/t_s_f/sign_up" class="login">Sign up</a></p>
								</div>
		
							<input type="email" name="email" id="email" class="inputs" placeholder="Email address"><br><br>
							
							<input type="password" name="password" id="password" class="inputs" placeholder="Password"><br>
							
							<div class="passchecker" onclick="passcheck()">
						    <img src="{{url_for('static', filename='closedeye.png')}}" alt="" id="pass_img"></img>
						</div>		
							
							<p class="error1">{{error1}}</p>
							
							<a href="{{url_for('forgot_password')}}" class="forgot_pass">Forgot Password?</a>
							
							<input type="submit" value="Log in" class="sub_btn">
				</form>
</div>
</div>
</div>

				<p class="tandc">Read our <a href="" class="login">Term and Conditions.</a></p>

</body>
</html>
