<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
      <link rel="stylesheet" href="{{url_for('static',filename='user_page.css')}}">
      
      <link rel="stylesheet" href="{{url_for('static',filename='new_password.css')}}">
</head>
<body>
    
    <script src="{{url_for('static', filename='new_password.js')}}"></script>
    
    <div class="top_bar" id="menuBar">
        <img src="{{url_for('static',filename='Nlogo.png')}}" alt="" class="logo"></img>
        
    </div>
    
    <form method="POST" action="{{url_for('new_password')}}">
    <p class="text">New password</p>
    <div class="new_password">
        <input type="text" name="password" class="input_bar" id="input" oninput="type_checker()">
    </div>
    
    <p class="text">Confirm password</p>
    <div class="new_password">
        <input type="text" name="password2" class="input_bar" oninput="type_checker()" id="input2">
        
    </div>
    <p id="msg" class="text"></p>
    <input type="submit" value="Submit" class="button" onclick="check_input()" id="btn">
    </form>
</body>
</html>
