<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='signup.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static',filename='forgotPassword.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='reset_password.css')}}">
    
    <script src="{{url_for('static', filename='reset_password.js')}}"></script>
    
</head>
<body onload="runCountDown()">
       
       <form method="POST" action="{{url_for('reset_code',an = an,reset_code = reset_code,an1 = an1)}}">
 
        <div class="forgotPasswordm">
        <div class="forgotPassword">
            
          <h1 class="emailText" class="create_h1">Enter reset code</h1>
            <input type="text" name="code" class="email" placeholder="Enter reset code">
            <br><br>
            <input type="submit" value="Submit" class="submit" >
            
        </div>
        <p class="msg">{{msg}}</p>
        
        <p class="countcon"> Request another code in :<span id="counter" class="counter">60</p>
        </span>
        
    </div>
    </div>
   </form>
    
</body>
</html>
