<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Sign up</title>
				<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
				<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>
</head>
<body>

<div class="main_main_con"> 
<div class="main_con">
<div class="form_container">
    
    <h1 class="create_h1">Sign up</h1>
    <div class="log_in">
				<p>Already have a account? <a href="{{url_for('log_in')}}"class="login">Log in here</a></p>
				
		</div>
		
				<form action="/t_s_f/sign_up" method="POST">
				    
								<input type="text" name="firstname" id="firstname" class="input_bar" placeholder="Enter your First name"><br><br>
						
								<input type="text" name="lastname" id="lastname" class="input_bar" placeholder="Enter your Last name"><br><br>
						
								<input type="text" name="username" id="username" class="input_bar" placeholder="Enter your Username"><br><br>
						
								<input type="email" name="email" id="email"  class="input_bar" placeholder="Enter your Email Address"><p class="email_note">Your Email will never be shared with anyone</p>
						
						<input type="password" name="password" id="password" class="input_bar" oninput="check_pass()" placeholder="Create a new Password">
						
						<div class="passchecker" onclick="passcheck()">
						    <img src="{{url_for('static', filename='closedeye.png')}}" alt="" id="pass_img"></img>
						</div>		
						
						<p class="pass_text" id="pass_text">Write your new password</p>
						<div class="password_track_con">
						    <div class="password_track" id="pass_track">
						        
						    </div>
						</div>
						<br>
						<input type="password" name="passwordc" id="confirm_password" class="input_bar" id="confirm_pass" placeholder="Confirm Password">
										
						<div class="pass_eye">
								<br>																												
                
								</div>
								<p class="error" id="error">{{error}}</p>
			
								<input type="text" id="user_dp" name="user_p" class="hide">
								<input type="submit" value="Sign me up" onclick="run()" id="sub" >
				</form>
			
				<p class="tandc">By creating an account you agree to our <a href="" class="login">Term and Conditions.</a></p>
</div>
</div>
</div>


</body>
</html>
